.hover_grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
.hover_grow:hover, .hover_grow:focus, .hover_grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hover_glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hover_glow:hover, .hover_glow:focus, .hover_glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}